<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user.name %>
</p>
<div id="slides">
<%= render @document.slides %>
</div>
<%= link_to 'Back', documents_path %>
